Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.utoc
*.ucas
*.pak
*.exe
PackagedMod/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Build/WindowsNoEditor/ChunkLayerInfo/pakchunklayers.txt
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
